:root{
    --primary: #FF4900;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue" ,sans-serif;
}

body{
    background-image: url(assets/images/background/BlackWall.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    color: white;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/Vinyl.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* navigation bar , the linear gradient sents the black fade on the nav bar */
.navbar{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background: linear-gradient(
        rgba(0,0,0,0.98) 25%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0.01)

        
    );
}

.navbar .page-links{
    margin-right: 6%;
    display: flex;
}

.navbar .logo{
    border-radius: 50%;
    width: 80px;
}

.navbar .img-tag{
    margin-left: 6%;
}

.navbar .page-links li{
    list-style: none;
    margin: 0 15px;
    font-size: 25px;
}

/* position relaiive so that hover effect can take place */
.navbar .page-links li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
}

.navbar .page-links li a:after{
    content: "";
    background-color: var(--primary);
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 0.4s;
}

.navbar .page-links li a:hover:after{
    width: 100%;
}

.content {
    width: 100%;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}

.left {
    margin-left: 6%;
}

.left h1{
    color: white;
    font-size: 90px;
    /* edit line spacing */
    line-height: 110px; 
    
}

.right {
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right p{
    margin-right: 15px;
    color: white;
}

#icon {
    width: 80px;
    border-radius: 70% ;
    cursor: pointer;
    font-size: 50px;
    color: var(--primary);
}

@media screen and (max-width: 770px){

    /* .navbar .social-links {
        display: none;
    } */

    .navbar  {
        justify-content: space-around;
    }

    .left h1{
        color: white;
        font-size: 60px;
        /* edit line spacing */
        line-height: 100px; 
        
    }

}


@media screen and (max-width: 500px){

    .navbar .logo{
       
        width: 50px;
    }

    .navbar .img-tag{
        margin-left: 2%;
    }

    .navbar .page-links a{
        font-size: 10px;
    }

    .navbar  {
        justify-content: space-evenly;
    }

    .content{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }


    .left h1{
        text-align: center;
        margin: auto;
    }

    .left{
        margin: auto;
    }

    .right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 80px auto;
        padding: 0;
        text-align: center;
    }

    .right p{
        margin: auto;
    }

    .right i{
        margin: 10px auto;
    }

}


/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */


/* NEW RELSEASE SECTION */

#releases{

    width: 100%;
    background-position: center;
    background-size: cover;
    
}


.title-text h1{
    text-align: center;
    padding: 20px 0;
    font-size: 60px;
}

.container{
    position: relative;
}

.container-box{
    /* background-image: url('assets/images/thumbnails/bg1.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/images/thumbnails/bg8.png') ;
    background-position:center;
    background-size: cover;
    width: 80%;
    height: 500px;
    margin-bottom: 50px;
    margin-left: 89px;
    position: relative;
    /* margin-bottom: 30px; */
    /* position: relative; */
}

.container-box .layer{
    width: 100%;
    height: 60%;
    position: absolute;
    top: 200px;
    right: 380px;
}

.container-box .layer h1{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}

.container-box .layer h2{
    text-align: center;
    color: white;
    font-size: 60px;
}

.container-box .controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box .controls .fa{
    margin: 20px 40px;
    color: var(--primary);
    font-size: 35px;
    cursor: pointer;
}

.container-box .controls #track-play{
    
    font-size: 70px;
    
}

.slider{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 10px;
    bottom: 80px;
}

.arrows{
    /* margin-left: 10px; */
    width: 80%;
    display: flex;
    justify-content: center;
}

.arrows .fa {

    color: var(--primary);
    font-size: 35px;
    margin: 5px 15px;
}

#prev , #next{
    cursor: pointer;
}

.thumbnail{
   opacity: 0.4;
}

.active{
    opacity: 1;
}


