:root{
    --primary: #FF4900;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue" ,sans-serif;
}

body{
    background-image: url(assets/images/background/city.jpg);
    background-size: initial;
    background-position: center;
}

h1{
    color: white;
}

.hero {
    width: 100%;
    height: 100dvh;
    background-image: url(images/Vinyl.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* navigation bar , the linear gradient sents the black fade on the nav bar */
.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background: linear-gradient(
        rgba(0,0,0,0.98) 25%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0.01)

        
    );
}

.navbar .page-links{
    margin-right: 6%;
    display: flex;
}

.navbar .logo{
    border-radius: 50%;
    width: 80px;
}

.navbar .img-tag{
    /* might turn margin-left back to 6% */
    margin-left: 7.5%;
}

.navbar .page-links li{
    list-style: none;
    margin: 0 15px;
    font-size: 20px;
}

/* position relaiive so that hover effect can take place */
.navbar .page-links li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
}

.navbar .page-links li a:after{
    content: "";
    background-color: var(--primary);
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 0.4s;
}

.navbar .page-links li a:hover:after{
    width: 100%;
}

.content {
    width: 100%;
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}

.left {
    margin-left: 6%;
}

.left h1{
    color: white;
    font-size: 70px;
    /* edit line spacing */
    line-height: 110px; 
    
}

.right {
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right p{
    margin-right: 15px;
    color: white;
}

#icon {
    width: 80px;
    border-radius: 70% ;
    cursor: pointer;
    font-size: 50px;
    color: var(--primary);
}

@media screen and (max-width: 770px){

    /* .navbar .social-links {
        display: none;
    } */

    .navbar  {
        justify-content: space-around;
    }

    .left h1{
        color: white;
        font-size: 60px;
        /* edit line spacing */
        line-height: 100px; 
        
    }

}


@media screen and (max-width: 500px){

    .navbar .logo{
       
        width: 50px;
    }

    .navbar .page-links a{
        font-size: 10px;
    }

    .navbar  {
        justify-content: space-evenly;
    }

    .content{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }


    .left h1{
        text-align: center;
        margin: auto;
    }

    .left{
        margin: auto;
    }

    .right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 80px auto;
        padding: 0;
        text-align: center;
    }

    .right p{
        margin: auto;
    }

    .right i{
        margin: 10px auto;
    }

}


/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */
/* ---------------------- */


/* NEW RELSEASE SECTION */

#releases{

    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 20px 0;
}


.title-text h1{
    text-align: center;
    padding: 22px 0;
    font-size: 50px;
}

.view-all{
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 48px;
    gap: 20px;
    z-index: 3;
}

.view-all .view-heading .view-link{
 text-decoration: none;
 color: white;
}

.view-all .view-heading .view-link .view-text{
    margin-left: 15px;
    
}

.container{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    /* border-radius: 100px; */
}

.container-box{
    /* background-image: url('assets/images/thumbnails/bg1.jpg'); */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/images/thumbnails/bg8.png') ;
    background-position:center;
    background-size: cover;
    width: 80%;
    height: 550px;
    /* margin-bottom: 10px; */
    margin-left: 89px;
    position: relative;
    border-radius: 20px;
}

.container-box .layer{
    width: 100%;
    /* THIS HEIGHT MIGHT NEED TO CHANGE DEPENDING ON THE LAYOUT */
    /* height: 60%; */
    position: absolute;
    top: 250px;
    right: 365px;
}

.container-box .layer h1{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}

.container-box .layer h2{
    text-align: center;
    color: white;
    font-size: 40px;
}

.container-box .controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box .controls .fa{
    margin: 20px 40px;
    color: var(--primary);
    font-size: 35px;
    cursor: pointer;
}

.container-box .controls #track-play{
    
    font-size: 70px;
    
}

.slider{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 10px;
    bottom: 80px;
}

.preview img{
    border-radius: 10px;
    width: 170px;
}

.arrows{
    /* margin-left: 10px; */
    width: 80%;
    display: flex;
    justify-content: center;
}

.arrows .fa {

    color: var(--primary);
    font-size: 35px;
    margin: 5px 15px;
}

#prev , #next{
    cursor: pointer;
}

.thumbnail{
   opacity: 0.4;
}

.active{
    opacity: 1;
}


@media screen and (max-width: 500px){

    .title-text h1{
        font-size: 40px;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .container .container-box{
        width: 80%;
        margin-bottom: 40px;
        margin-left: 0;
        position: relative;
        z-index: 0;
    }

    .slider{
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .preview img{
        border-radius: 10px;
        width: 100px;
    }

    .container-box .layer{
        width: 80%;
        /* height: 60%; */
        position: absolute;
        bottom: 0;
        left: 36px;
        right: 0;
        top: 340px;
    }


    .container-box .layer h1{
        font-size: 40px;
    }
    
    .container-box .layer h2{
        font-size: 25px;
    }
    
    .container-box .controls{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container-box .controls .fa{
        margin: 20px 40px;
        color: var(--primary);
        font-size: 20px;
        cursor: pointer;
    }

    .container-box .layer .controls #track-play{
        font-size: 35px;
    }
}


/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ========================== */
/* ======== ARTIST SECTION ========= */

#artists{
    width: 100%;
    /* background-image: url(assets/images/background/BlackWall.jpg); */
}

.artist-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-box{
    width: 100%;
    margin: 55px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.cards {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.4s;
}

.cards img{
    width: 300px;
    height: 400px;  
    display: block;
}


.card-layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    transition: 0.4s;
}

.cards:hover .card-layer{
    height: 100%;
}


.cards:hover {
    scale: 1.05;
}

.card-layer a {
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    transition: 0.5s;
}

.card-layer a:hover{
    color: var(--primary);
}

.artist-container .art-name{
    position: absolute;
    color: white;
    font-size:  30px;
    z-index: 4;
}

.artist-container .art-1{
    bottom:-30px;
    left: 440px;

}

.artist-container  .art-1 h2{
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.artist-container .art-2{
    bottom: -30px;
    left: 690px;
}

.artist-container  .art-2 h2{
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

/* .artist-container .cards:hover .art-2 h2{
    color: white;
} */

@media screen and (max-width:500px){

}

