:root{
    --primary: #FF4900;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue" ,sans-serif;
    
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/Vinyl.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* navigation bar , the linear gradient sents the black fade on the nav bar */
.navbar{
    /* width: 100%; */
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background: linear-gradient(
        rgba(0,0,0,0.98) 25%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0.01)

        
    );
}

.navbar .page-links{
    display: flex;
}

.navbar .logo{
    border-radius: 50%;
    margin-left: 6%;
    width: 50px;
}

.navbar .page-links li{
    list-style: none;
    margin: 0 15px;
    font-size: 20px;
}

/* position relaiive so that hover effect can take place */
.navbar .page-links li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
}

.navbar .page-links li a:after{
    content: "";
    background-color: var(--primary);
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 0.4s;
}

.navbar .page-links li a:hover:after{
    width: 100%;
    
}

.navbar .social-links{
    display: flex;
    margin-right: 6%;
}


.navbar .social-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px;
    transition: 0.4s;
}

/* translateY makes the link move upwards */
.navbar .social-links a:hover{
    color: var(--primary);
    transform: translateY(-10px);
}

.content {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.left {
    margin-left: 6%;
}

.left h1{
    color: white;
    font-size: 90px;
    /* edit line spacing */
    line-height: 110px; 
    
}

.right {
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right p{
    margin-right: 15px;
    color: white;
}

#icon {
    width: 80px;
    border-radius: 70% ;
    cursor: pointer;
    font-size: 50px;
    color: var(--primary);
}